<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: brown;">Yerkir</h1>
    <h1>Yerkir</h1>
    {% for i in Yerkir_list %}
        {% for j in i.yerkir.filtr %}
            <p>{{j.name}}</p>
        {% endfor %} 
    {% endfor %}    
    <h2>Qaxaq</h2>
    {% for i in Qaxaq_list %}
        {% for j in i.yer_qaxaq.all %}
            <a href="{% url 'Page3' i.id %}">
                <button>{{j.name}}</button>
            </a>
        {% endfor %}
    {% endfor %}
</body>
</html>



